---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*-----*\
 Imports
\*-----*/

@import 'variables';
@import 'universal';

/*------------------------------*\
    Grid System
\*------------------------------*/

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 479px) {
    .column-1, 
    .column-2, 
    .column-3,
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .column-1, 
    .column-2, 
    .column-3,
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
}

@media only screen and (min-width: 769px) {
    .column-1, 
    .column-2, 
    .column-3,
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
}

/*------------------------------*\
    Styling
\*------------------------------*/

.sitetitle {
    padding: 1em;
    height: 6em;
    background-color: $coffee;

}

.site-header {
    z-index: 1;
}

.hero-header-wrapper {
    z-index: -1;
    margin-top: -2em;
  background: 
    /* top, transparent beige, faked with gradient */ 
    linear-gradient(
      rgba(49, 40, 44, 0.5), 
      rgba(49, 40, 44, 0.5)
    ),
    /* bottom, image */
    url(../images/Beans.png);
      background-size: cover;
      background-attachment: fixed;
      h2 {
        max-width: 600px;
        text-align: center;
        margin: 4em auto 0em auto;
      }
}

.anchorlinks {
    display: none;
}

.navtiles {
    margin: -3px;
}

.navtiles a {
    text-decoration: none;}

.navtiles a:active {
    background-color: rgba(237, 228, 212, 0.55);
}



.nav-tile {
    color: $accent-teal;
    padding: .5em .5em;
    &:hover {
    text-decoration: underline;
    background-color: $bright-neutral;
    }
}

.anchorlinks {
    text-align: center;
    margin-bottom: 0em;
        a {
        color: $light-neutral;
        padding: 0.25em;
    }

    h2 {
        margin: 0 auto;
        padding: 0;
    }
}

.location, 
.coffee, 
.story,
.partners{
    padding: 0px 2em 5em 2em;

}

.location h4, h5 {
    margin-bottom: 1em;
}

.textcolumn2 .column .column-6 {
    clear: both;
}

.coffee {
    background-color: rgba(31, 105, 118,0.20);
}


.story {
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(43, 40, 35, 0.66), 
      rgba(43, 40, 35, 0.66)
    ),
    /* bottom, image */
    url(../images/landscape.png);
    background-size: 100% 100%;
    background-attachment: fixed;

}

.story h3 {
    color: $light-neutral;
    }

.lighttext p {
    color: $light-neutral;
}

.lighttext h3 {
    color: $bright-neutral;
    line-height: 1em;
    font-size: 2em;
}

.lighttext h4 {
    color: $accent-teal;
    font-size: 1.5em;
    line-height: 1em;
}

.lighttext h5 {
    color: $bright-neutral;
}

.breakpoint1col1 {
    float: left;
    width: 100%;
    margin: auto;
}

.breakpoint1col2 {
    float: right;
    width: 100%;
    margin: auto;
}

.partnertile {
    width: 19%;
    float: left;
    margin: 1em 1em 0em 0em;
}

.menu {
    padding: 0px 2em 5em 2em;
    margin-top: -2em;
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(43, 40, 35, 1.0), 
      rgba(43, 40, 35, 1.0)
    ),
    /* bottom, image */
    url();
    background-size: 100%;
    h2 {
        font-size: 3em;
        margin-bottom: 1em;
        text-align: left;
        padding: 0;
        font-family: 'Lato';

    }
    h4 {
        font-family: 'Abril Text';
        text-transform: uppercase;
        font-size: 2.5em;
        margin: 0.5em auto;
    }
    h5 {
        text-decoration: underline;
    }
}

footer {
    text-align: center;
    padding: 3em;
}

@media only screen and (min-width: 480px) {
    
    .location, 
    .coffee, 
    .story,
    .partners, {
    padding: 0px 5em 5em 5em;
    }

    .menu {
        padding: 0 5em 2em 5em;
    }

     .breakpoint1col1 {
        float: left;
        width: 47%;
        margin: auto;
      }

      .breakpoint1col2 {
        float: right;
        width: 47%;
        padding-left: 2em;
      }

    .column + .column {
        margin-left: 0;
    }
}

@media only screen and (min-width: 769px) {

    .location, 
    .coffee, 
    .story,
    .partners {
    padding: 0em 5em 5em 5em;
    }


    .breakpoint2col1 {
    float: left;
    width: 47%;
    margin: auto;
    }

    .breakpoint2col2 {
    float: right;
    width: 47%;
    margin: auto;
    padding-left: 2em;
    }

    .menu {
        h2 {
            text-align: center;}
        .snacks {
            padding-bottom: 1em;
        }
    }
        .coffee {
        padding-top: 2em;
    }

    .partnertile {
    width: 22%;
    float: left;
    margin: 1em 1em 0em 0em;
    }

}