---
# Only the main Sass file needs front matter (the dashes are enough)
---

/*-----*\
 Imports
\*-----*/
@import "variables.scss";
@import "universal.scss";

/*------------------------------*\
    Grid System
\*------------------------------*/

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
    display: block;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

@media only screen and (max-width: 479px) {
    .column-1, 
    .column-2, 
    .column-3,
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .column-1, 
    .column-2, 
    .column-3,
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
}

@media only screen and (min-width: 769px) {
    .column-1, 
    .column-2, 
    .column-3,
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        float: none;
        width: auto;
    }
}

/*------------------------------*\
    Styling
\*------------------------------*/

.sitetitle {
    background-color: $coffee;
    padding: 1em;
}

.hero-header-wrapper {
  background: 
    /* top, transparent beige, faked with gradient */ 
    linear-gradient(
      rgba(237, 228, 212, 0.55), 
      rgba(237, 228, 212, 0.55)
    ),
    /* bottom, image */
    url(/images/Beans.png);
}

.navtiles {
    margin: auto;
}

.nav-tile {
    padding: 1.5em .5em;
}

.anchorlinks {
    text-align: center;
    margin-bottom: 2em;
    a {
        color: $coffee;
    }
}

.location, 
.coffee, 
.story,
.partners {
    padding: 10px 10px 60px 10px;
}

.location {
    margin-top: 1em;
    background-color: rgba(237, 228, 212,0.55);
}

.textcolumn2 .column .column-6 {
    clear: both;
}

.coffee {
    margin-top: 1em;
    background-color: rgba(31, 105, 118,0.20);
}

.story {
    margin-top: 1em;
    background: 
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(43, 40, 35, 0.66), 
      rgba(43, 40, 35, 0.66)
    ),
    /* bottom, image */
    url(/images/landscape.png);
}

.story h3 {
    color: $light-neutral;
    }

.lighttext p {
    color: $light-neutral;
}

.breakpoint1col1 {
        float: left;
        width: 100%;
        margin: auto;
      }

      .breakpoint1col2 {
        float: right;
        width: 100%;
        margin: auto;
      }

.partnertile {
    width: 40%;
    float: left;
    margin: auto;
}

@media only screen and (min-width: 480px) {
    

    h2 {
        font-size: 2.5em;
        padding: 30px;
    }

     .breakpoint1col1 {
        float: left;
        width: 47%;
        margin: auto;
      }

      .breakpoint1col2 {
        float: right;
        width: 47%;
        margin: auto;
      }

      .partnertile {
        width: 23%;
        margin: auto;
    }
  
    .column + .column {
        margin-left: 0;
    }

}

@media only screen and (min-width: 769px) {
    h2 {
        font-size: 3em;
        padding: 30px;
    }

    .breakpoint2col1 {
    float: left;
    width: 47%;
    margin: auto;
    }

    .breakpoint2col2 {
    float: right;
    width: 47%;
    margin: auto;
    }

    .partnertile {
    width: 19%;
    margin: auto;
    }
}