<header class="site-header">
	<div class = "row"> 	
	 	<div class = "sitetitle column column-12">
	        <h1>dominican joe</h1>        	
	    </div>
	</div>
	<div class = "row">
	    <div class = "navtiles column column-12">
	      <ul>
	        	<a href = "{{ "index.html" | prepend: site.baseurl }}">
	        		<li class = "currentlink nav-tile">ABOUT</li>
	        	</a>
	        	<a href = "{{ "/menu.html" | prepend: site.baseurl }}">
	        		<li class = "nav-tile">MENU</li>
	        	</a>
	        </ul>
	    </div>
	</div>
</header>
