/*default grid styling*\
\* */

.column {
    margin: 0;
    padding: 0;
    text-align: left;
}

.row {
    margin-bottom: 0px;
}

.row:last-child {
    margin-bottom: 0px;
}

.column .column {
    border-color: #000;
}

h1 {
	margin: 0;
	font-family: "Papyrus";
	font-size: 3.25em;
	text-align: center;
	color: $light-neutral;
}

ul {
	clear: both;
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
}

li {
	display: inline;
	background-color: $light-neutral;
}

a {
	color: $accent-teal;
	font-size: 1em;
	font-family: "lato";
	line-height: 1.6em;
}


h2 {
	font-family: "lato";
	font-size: 1.75em;
	font-weight: normal;
	color: $light-neutral;
	text-align: center;
	padding: 1em 3em;
	line-height: 1.25em;
	margin: 2em 0em 1em 0em;
}

h3 {
	font-family: "lato";
	color: $coffee;
	font-size: 2em;
	margin-bottom: 0em;
}

h4 {
	font-family: "lato";
	font-size: 1.5em;
	color: $accent-teal;
	line-height: 1.6em;
}

h5 {
	font-family: "lato";
	font-weight: medium;
	font-size: 1.2em;
	color: $text-color;
}

p {
	font-family: "lato";
	font-weight: normal;
	font-size: 1em;
	line-height: 1.6em;
	color: $text-color;
}

img.partnertile { 
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

.buybutton h6 {
	font-size: 1em;
	text-align: center;
	a {text-decoration: none;}
	line-height: 1.6em;
	clear: left;
	width: 20%;
	padding: 0.5em 1em;
	border: solid 4px $accent-teal;
	background-color: $light-neutral;
	&:hover {
		background-color: $bright-neutral;
	}
}